<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<style>
      body
      {
       margin: 0;
        padding: 0;
        background-image: url("Owall-Hotel-Seoul-Exterior.jpeg");
        background-repeat:no-repeat;
        background-position: inherit;
        /* background-size: cover; */
        background-attachment: fixed;
        background-size: 100% 100%;
      }
      a
      {
      position:relative;
      top:50px;
      color:white;
      }
      
</style>
<body>
<center>
	<form>
	
	<a href="/showalluser">Show User List</a><br><br><br>
	<a href="/showhotellist">Show Hotel List</a><br><br><br>
	<a href="/showpaymentlist">Show Payment List</a><br>
	
	</form>
</center>
		

</body>
</html>